@model RazorEx.DAL.Entities.User

<div style="direction:rtl ;padding:20px">
    <h1>سلام @Model.UserName</h1>
    <p> لطفا حساب کاربری را با زدن این پایینی فعال کنید</p>
    <p>
    <a href="https://localhost:44339/activeaccount/activeaccount?id=@Model.ActiveCode">میخوام در سایت آقا امیر فعال شم توروخدا</a>
    </p>
</div>