@using RazorEX.BAL.Contracts
@inject IUser _userService
@{
    var UserName = User.Identity.Name;
    var UserId =_userService.GetUserIdByUserName(UserName);
}
<section>
    <header><h3> میز کار </h3></header>
    <div class="inner">
        <ul>
            <li><a href=""> مشاهده حساب کابری </a></li>
            <li><a asp-area="userpanel" asp-controller="Userpanel" asp-action="Edit" asp-route-id="@UserId"> ویرایش نام کابری </a></li>
            <li><a asp-area="userpanel" asp-controller="Userpanel" asp-action="EditPass"> تغییر رمز عبور </a></li>
            <li><a asp-area="userpanel" asp-controller="Wallet" asp-action="Index"> کیف پول </a></li>
            <li><a href=""> تنظیمات حساب کاربری </a></li>
            <li><a asp-area="userpanel" asp-controller="userpanel" asp-action="LogOut"> خروج از حساب کاربری </a></li>
        </ul>
    </div>
</section>
