@model RazorEX.BAL.DTOs.UsersDTO.UserDTO
@using RazorEX.BAL.Contracts
@using RazorEX.BAL.Utilities
@inject IUser _userservice;
@{
    //var id = Model.UserId;
    ViewData["Title"] = User.Identity.Name + "   پنل کاربری   ";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"> صفحه اصلی </a></li>
            <li class="breadcrumb-item active" aria-current="page"> پنل کاربری </li>
        </ul>
    </nav>
</div>
<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <aside>
                        <div class="avatar-layer">
                            <div class="img-layer">
                                <a href="" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                                <img src="/img/default-avatar.png" style="max-width:1   50px">
                            </div>
                            <div class="detail">
                                <span>@Model.UserName</span>
                                <span> عضویت : @Model.RegisterDate.ToPersianDate() </span>
                            </div>
                        </div>
                        <partial name="_PanelSideBar"/>
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> داشبورد </h1></header>
                        <div class="inner">
                            <div class="account-information">
                                <h3> اطلاعات کاربری </h3>
                                <ul>
                                    <li> <i class=""></i> نام کاربری :  @Model.UserName </li>
                                    <li> <i class=""></i> تاریخ عضویت :@Model.RegisterDate.ToPersianDate() </li>
                                    <li> <i class="zmdi zmdi-account"></i> موجودی حساب : @_userservice.UserWalletBalance(User.Identity.Name).ToString("#,0 تومان")</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
