@model RazorEX.BAL.DTOs.PostDTO.PostFilterDTO

<body class=" bg-info" method="post">
    <div class="container">
        <h2 class="text-center text-succes h1 "></h2>
        <hr>
        <table class="table">
            <thead class="text-warning">
                <tr>
                    <th>عنوان</th>
                    <th>عکس</th>
                    <th>slug</th>
                    <th>گروه </th>
                    <th>عملبات</th>
                </tr>
            <tbody>
                @foreach  (var item in Model.Posts)
                    {
                    <tr>
                        <td>@item.Title</td>
                        <td><img style="max-width: 150px" src="wwwroot/images/posts" /></td>
                        <td>@item.Slug</td>
                        <td>@item.Category.Title</td>
                        <td><a asp-area="Adminstration" asp-controller="Post" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-info btn-sm">ویرایش</a></td>
                    </tr>
                    }
            </tbody>
        </table>
        <a class="btn btn-success align-right" asp-area="Adminstration" asp-controller="Category" asp-action="Add">Add Task</a>
        <br>
    </div>
</body>








