@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1>Can Somebody give me a haaaayeeeeah???? </h1>
</div>
 
<a asp-page="/Register/Signup">sign up</a>
<a asp-area="Adminstration" asp-controller="Category"> Admin Page </a>